<!-- message form example -->
<div>
  <link rel="stylesheet" href="https://cdn.formbold.com/formbold.css" />
  <br />
  <div class="formbold-builder-form themeOne">
    <form
      enctype="multipart/form-data"
      action="https://formbold.com/s/oyMKz"
      method="POST"
      class="mx-auto w-full max-w-[570px] rounded-[10px] border border-stroke bg-white p-10 themeOne"
    >
      <div class="SortableItem fb-builder-item">
        <div class="mb-4">
          <label class="mb-2.5 block text-base text-black"
            ><span>fullname</span
            ><span class="label-required pl-1 text-red-400">*</span></label
          ><input
            type="text"
            class="w-full rounded border border-stroke bg-white px-5 py-3 text-base text-black outline-none focus:border-primary"
            name="text_input_1CB8B2B5-16C0-4703-824A-03FE61C221A7"
            placeholder="Full name"
            value=""
            required=""
          />
        </div>
      </div>
      <div class="SortableItem fb-builder-item">
        <div class="mb-4">
          <label class="mb-2.5 block text-base text-black"
            ><span>email</span
            ><span class="label-required pl-1 text-red-400">*</span></label
          ><input
            type="email"
            class="w-full rounded border border-stroke bg-white px-5 py-3 text-base text-black outline-none focus:border-primary"
            name="email_input_52421DAD-4A03-48D4-BB85-EF9E273C4A2B"
            placeholder="Enter Email Address"
            value=""
            required=""
          />
        </div>
      </div>
      <div class="SortableItem fb-builder-item">
        <div class="mb-4">
          <label class="mb-2.5 block text-base text-black"
            ><span>message</span></label
          ><textarea
            class="w-full rounded border border-stroke bg-white px-5 py-3 text-base text-black outline-none focus:border-primary"
            name="text_area_4F8FB70D-341C-4A4A-8304-54DE75C47826"
            placeholder="Your message"
          ></textarea>
        </div>
      </div>
      <div class="btn-toolbar flex items-center space-x-3">
        <input
          type="submit"
          class="inline-flex cursor-pointer items-center justify-center rounded border border-primary bg-primary px-8 py-2 text-base font-medium text-white hover:bg-opacity-90"
          value="Submit"
        />
      </div>
    </form>
    <p class="mt-8 flex items-center justify-center">
      Powered by<span class="pl-2"
        ><a href="https://formbold.com" rel="nofollow noopener" target="_blank"
          ><img
            src="https://cdn.formbold.com/formbold-logo.svg"
            alt="Formbold Logo"
            style="max-width: 100px;" /></a
      ></span>
    </p>
  </div>
</div>

<!-- subscription example -->
<div>
  <link rel="stylesheet" href="https://cdn.formbold.com/formbold.css" />
  <br />
  <div class="formbold-builder-form themeOne">
    <form
      enctype="multipart/form-data"
      action="https://formbold.com/s/oPaKN"
      method="POST"
      class="mx-auto w-full max-w-[570px] rounded-[10px] border border-stroke bg-white p-10 themeOne"
    >
      <div class="SortableItem fb-builder-item">
        <div class="mb-4">
          <label class="mb-2.5 block text-base text-black"
            ><span>Placeholder label</span></label
          ><input
            type="text"
            class="w-full rounded border border-stroke bg-white px-5 py-3 text-base text-black outline-none focus:border-primary"
            name="text_input_ACA4D698-93AE-4C88-8A32-43932CCFCC01"
            placeholder="Placeholder Text"
            value=""
          />
        </div>
      </div>
      <div class="SortableItem fb-builder-item">
        <div class="mb-4">
          <label class="mb-2.5 block text-base text-black"
            ><span>E-Mail</span></label
          ><input
            type="email"
            class="w-full rounded border border-stroke bg-white px-5 py-3 text-base text-black outline-none focus:border-primary"
            name="email_input_A0716750-1055-413A-AC2B-3BD69D5C1178"
            placeholder="Enter Email Address"
            value=""
          />
        </div>
      </div>
      <div class="btn-toolbar flex items-center space-x-3">
        <input
          type="submit"
          class="inline-flex cursor-pointer items-center justify-center rounded border border-primary bg-primary px-8 py-2 text-base font-medium text-white hover:bg-opacity-90"
          value="Submit"
        />
      </div>
    </form>
    <p class="mt-8 flex items-center justify-center">
      Powered by<span class="pl-2"
        ><a href="https://formbold.com" rel="nofollow noopener" target="_blank"
          ><img
            src="https://cdn.formbold.com/formbold-logo.svg"
            alt="Formbold Logo"
            style="max-width: 100px;" /></a
      ></span>
    </p>
  </div>
</div>